################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/CLIRPG_B2
/CLIRPG_B2/x64/Debug
/.vs/CLI/v17/.wsuo
/.vs/CLI/v17/DocumentLayout.json
/.vs/CLI2-B/v17/.wsuo
/.vs/CLI2-B/v17/DocumentLayout.json
/x64/Debug/CLIRPG_B2.exe
/x64/Debug/CLIRPG_B2.pdb
